<nav class="navbar" id="navbar">
    <div class="container">
        <div class="nav-wrapper">
            <div class="logo">
                <i class="fas fa-futbol logo-ball"></i>
                <div class="logo-container">
                    <div class="logo-text-curved">FUTBURGUER</div>
                    <div class="logo-originals">
                        <span class="originals-text">Originals</span>
                    </div>
                </div>
                <i class="fas fa-futbol logo-ball"></i>
            </div>
            
            <ul class="nav-menu" id="navMenu">
                <li><a href="index.html#home" class="nav-link">Home</a></li>
                <li><a href="menu.html" class="nav-link">Cardápio</a></li>
                <li><a href="index.html#sobre" class="nav-link">Sobre</a></li>
                <li><a href="index.html#galeria" class="nav-link">Galeria</a></li>
                <li><a href="index.html#contato" class="nav-link">Contato</a></li>
                <li><a href="cart.html" class="nav-link cart-link">
                    <i class="fas fa-shopping-cart"></i>
                    Carrinho
                    <span class="cart-count" id="cartCount">0</span>
                </a></li>
                <li class="nav-auth">
                    <a href="login.html" class="btn btn-outline">Login</a>
                    <a href="register.html" class="btn btn-primary-nav">Cadastrar</a>
                </li>
            </ul>
            
            <button class="hamburger" id="hamburger" aria-label="Menu">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </div>
    </div>
</nav>
